@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

.hero-main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url(../images/bg-header-desktop.png) no-repeat;
    background-size: 100% 50%;
    img{
        margin-top: 150px;
        margin-bottom: 50px;
        /*position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);*/
    }
    h1{
        font-size: 36px;
        margin-bottom: 20px;
    }
    p{
        position: relative;
        width: 50%;
        margin-bottom: 20px;
        line-height: 150%;
        opacity: 0.5;
    }
    .hero-btn{
        margin-bottom: 70px;
        .btn{
            border: none;
            color: white;
            font-weight: 600;
            margin: 30px 10px;
            padding: 15px 35px;
            border-radius: 25px;
            background-color: hsl(171, 66%, 44%);
            box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.2);
            letter-spacing: 1px;
            transition: .3s all ease-in-out;
            outline: none;
            cursor: pointer;
            &:hover{
                color: hsl(171, 66%, 44%);
                background-color: white;
                box-shadow: 0px 3px 35px 5px rgba(0,0,0,0.2);
            }
        }
        .blue-btn{
            background-color: hsl(233, 100%, 69%);
            transition: .3s all ease-in-out;
            &:hover{
                color: hsl(233, 100%, 69%);
                background-color: white;
            }
        }
    }
    h2{
        margin-bottom: 20px;
    }

}

.hero-one{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        position: relative;
        width: 40%;
        margin: 20px 0;
        text-align: center;
    }
    p{
        position: relative;
        width: 50%;
        margin-bottom: 20px;
        line-height: 150%;
        opacity: 0.5;
        text-align: center;
    }
    .hero-one-comp-val{
        position: relative;
        width: 100%;
        margin-top: 3vh;
        display: flex;
        img{
            position: relative;
            width: 45%;
            left: -5vh;
        }
        h3{
            margin-top: 8%;
            padding-left: 10%;
        }
        p{
            position: relative;
            padding-left: 10%;
            width: 70%;
            text-align: left;
        }
    }
}

.hero-two{
    position: relative;
    top: 10vh;
    //height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        position: relative;
        width: 40%;
        margin: 20 0;
        text-align: center;
    }
    p{
        position: relative;
        width: 50%;
        margin-bottom: 20px;
        line-height: 150%;
        opacity: 0.5;
        text-align: center;
    }
    img{
        margin: 30px 0;
        position: relative;
        width: 70%;
    }
}

.workflow{
    position: relative;
    width: 100%;
    text-align: center;
    h2{
        margin: 20px;
    }
    p{
        margin-bottom: 20px;
    }
    .tools{
        position: relative;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
    }
    .tools-detail{
        img{
            margin: 20px;
        }
        h3{
            margin-bottom: 20px;
        }
        p{
            line-height: 150%;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 600px){
    .hero-main{
        img{
            margin-top: 10%;
            margin-bottom: 10%;
        }
        h1{
            padding: 0 20px;
            font-size: 36px;
            margin-bottom: 20px;
        }
        p{
            width: 80%;
        }
        .hero-btn{
            margin-bottom: 0px;
            .btn{
                margin: 20px 
            }
        }
    }
    .hero-one{
        h2{
            width: 80%;
        }
        p{
            width: 80%;
        }
        .hero-one-comp-val{
            flex-direction: column;
            margin-top: 20px;
            img{
                width: 60%;
                left: 50%;
                transform: translateX(-50%);
            }
            h3{
                text-align: center;
                padding: 0;
                margin-top: 4%;
            }
            p{
                text-align: center;
                padding-left: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
            }
        }
    }
    .hero-two{
        h2{
            width: 80%;
        }
        p{
            width: 80%;
            margin-bottom: 20px;
        }
        img{
            margin-top: 30px;
            position: relative;
            width: 80%;
            height: auto;
        }
    }
    .workflow{
        margin-top: 25%;
    }
}